html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 0;
}
::-webkit-scrollbar-track{
  // background: hsl(120, 50%, 75%);
}
::-webkit-scrollbar-thumb{
  // background: red;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans',sans-serif;
}

body{
  background-color: #060614;
  color: lightgray;
}

a{
  text-decoration: none;
  color: inherit;
}

section{
  height: 100vh;
  scroll-snap-align: start;
}

